html{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.Menu-It i{    
    box-shadow: 0px 0px 4px #a9a8a8;
    cursor: pointer;
    margin-top: var(--fs0);
    background-color: #ffffff;
    color:#818184;
    width: 27px;
    height: 27px;
    border-radius: var(--fs0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.Menu-It i:active{
    background-color: rgb(30, 161, 85);
    box-shadow: 0px 0px 4px #e0e0e0;
    color:#ffffff;
}

.Menu-It .bi-trash3-fill:active{
    background-color: #cc4c4c;
    box-shadow: 0px 0px 4px #e0e0e0;

}

.ContainerC:nth-child(1){
    display: flex;
    box-shadow: 0px 0px 4px #969494;
    width:fit-content;
    border-radius: 8px;
    padding: 10px;
}

.ContainerC:last-child{
    box-shadow: 0px 0px 4px #969494;
    width:fit-content;
    border-radius: 8px;
    padding: 10px;
}
.ContainerP{
    height: 100vh;
}
.Notebook-Name{
    padding-bottom: var(--fs0);
    margin-bottom: var(--fs0);
    border-bottom: 2px solid #d2d2d4;
}
.Notebook-Name i{    
    cursor: pointer;
    background-color: #ffffff;
    color:#818184;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--fs0);
    font-size: 18px;
}

.Notebook-Name i:active{    
    box-shadow: 0px 0px 4px #a9a8a8;
    transition: 0.1s ease-in-out;
}
.Note .header i{    
    cursor: pointer;
    background-color: #ffffff;
    color:#818184;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--fs0);
    font-size: 18px;
}
.Note .header{
    margin:5px 0px;
}
.Note .header i:active{    
    box-shadow: 0px 0px 4px #a9a8a8;
    transition: 0.1s ease-in-out;
}
.Note{
    box-shadow: 0px 0px 2px #e9e8e8;
    border: 1px solid #d1d1d1;
    padding: 8px;
}
.Note .header h1{
    color:#656567;
    font-family: var(--ff-Roboto);
}
textarea{
    font-family: var(--ff-Roboto);
    font-size: 12px;
    resize: none;
    outline: none;
    border: none;
}
input{
    background-color: #176f3900;
    font-family: var(--ff-Roboto);
    font-size: 19px;
    outline:none;
    border: none;
}

input:disabled {
    background: #ccc;
    border: none;
}
.Modal{
    top:0;
    left: 0;
    background-color: #464646a7;
}
.Modal-Content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    width: 25%;
    height: 30%;
    background-color: #f4f3f3;
    border-radius: 12px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.buttons .button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width: 120px;
    height:40px;
    border-radius: 12px;
    cursor: pointer;
}

.Good{
    background-color: #22ae58;
    color:#fff;
}

.Good:active{
    background-color: #176f39;
}

.Delete{
    background-color: #de6363;
    color:#fff;
}

.Delete:active{
    background-color: #9f4646;
}

.Modal-Content{
    position: relative;
}
.Modal-In{
    animation: modal-in-out 0.7s ease-out alternate-reverse;
}

.Modal-Out{
    animation: modal-in-out 0.7s ease-out;
}

.Modal-Content .bi-x-lg{
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
.Modal-Content .info{
    font-family: var(--ff-Roboto);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    justify-content: center;
}

@keyframes modal-in {
    0%{
        scale: 1;
    }
    100%{
        scale: 0;
    }
}