@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@100;200;400&family=Dosis:wght@300;400;500&family=Karla:wght@200;300;400&family=Kaushan+Script&family=Nunito:wght@300;400&family=PT+Sans&family=Roboto:wght@300;400&family=Rubik:wght@300;400&family=Titillium+Web:wght@300;400&family=Ubuntu:wght@300;400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    --ff-OSans:   Open Sans,PingFang SC,Microsoft YaHei,Helvetica Neue,Hiragino Sans GB,WenQuanYi Micro Hei,Arial,"sans-serif";
    --ff-barlow: 'Barlow', sans-serif;
    --ff-Dosis:  'Dosis', sans-serif;
    --ff-Karla:  'Karla', sans-serif;
    --ff-Pt-Sans:'PT Sans', sans-serif;
    --ff-Roboto:  'Roboto', sans-serif;
    --ff-Ubuntu: 'Ubuntu', sans-serif;
    --ff-titill: 'Titillium Web', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
    --ff-kaushan:  'Kaushan Script', cursive;
    --ff-alata: 'Alata', sans-serif;
   --fs12: 235px;
   --fs11: 215px;
   --fs10: 205px;
    --fs9: 185px;
    --fs8: 165px;
    --fs7: 145px;
    --fs6: 125px;
    --fs5: 105px;
    --fs4: 85px;
    --fs3: 65px;
    --fs2: 45px;
    --fs1: 25px;
    --fs0: 10px;
    --fsvar: 14px;
    --blue-0:#f3f3f3;
    --blue-1:#f3f3f3;
    --blue-2:#f3f3f3;
    --blue-3:#f3f3f3;
    --blue-4:#f3f3f3;
    --blue-5:#f3f3f3;
    --blue-6:#f3f3f3;
    --blue-7:#f3f3f3;
    --blue-8:#f3f3f3;
    --blue-9:#f3f3f3;
    --red-0:#f3f3f3;
    --red-1:#f3f3f3;
    --red-2:#f3f3f3;
    --red-3:#f3f3f3;
    --red-4:#f3f3f3;
    --red-5:#f3f3f3;
    --red-6:#f3f3f3;
    --red-7:#f3f3f3;
    --red-8:#f3f3f3;
    --red-9:#f3f3f3;
    --red-0:#f3f3f3;
    --yell-1:#f3f3f3;
    --yell-2:#f3f3f3;
    --yell-3:#f3f3f3;
    --yell-4:#f3f3f3;
    --yell-5:#f3f3f3;
    --yell-6:#f3f3f3;
    --yell-7:#f3f3f3;
    --yell-8:#f3f3f3;
    --yell-9:#f3f3f3;
}
.bb{
    border: 1px solid #000;
}
.FF-O{
    font-family: var(--ff-OSans);
    font-weight: 400;
}


.Text-Centered{
    text-align: center;
    text-justify: center;
}
.Fs{
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;
}

.Fvh{
    height: 100%;
}
.Fvw{
    width: 100%;
}
.Rounded-50{
    border-radius: 50%;
}
.Rounded-25{
    border-radius: 25%;
}
.Rounded-15{
    border-radius: 15%;
}
.Rounded-5{
    border-radius: 5%;
}
.Pos-Abs{
    position: absolute;
}
.Pos-Fix{
    position: fixed;
}
.Pos-Rel{
    position: relative;
}
.Pos-Sti{
    position:sticky;
}

.top-left{
    top: 0;
    left: 0;
}
.behind{
    z-index: -12;
}
.foward{
    z-index: 12;
}
@media (min-width: 376px) { 
    .Ees-SA{
        justify-content: space-evenly;
    }
    .Ees-AC{
        align-items: center;
    }
    .Ees-wrap{
        flex-wrap: wrap;
    }
    .Ees-not-wrap{
        flex-wrap: nowrap;
    }

    .Ees-flex{
        display: flex;
    }
    .Ees-Abs{
        display:grid;
    }
    .Ees-None{
        display: None;
    }
    .Ees-Block{
        display:block;
    }

    .Ees-Pos-Abs{
        position: absolute;
    }
    .Ees-Pos-Fix{
        position: fixed;
    }
    .Ees-Pos-Rel{
        position: relative;
    }
    .Ees-Pos-Sti{
        position:sticky;
    }

    .Ees-vh10{
        height: 100vh;
    }
    .Ees-vh8{
        height: 80vh;
    }
    .Ees-vh6{
        height: 60vh;
    }
    .Ees-vh4{
        height: 40vh;
    }
    .Ees-vh2{
        height: 20vh;
    }
    .Ees-vw10{
        width: 100vw;
    }
    .Ees-vw8{
        width: 80vw;
    }
    .Ees-vw6{
        width: 60vw;
    }
    .Ees-vw4{
        width: 40vw;
    }
    .Ees-vw2{
        width: 20vw;
    }
    .Ees-Cl{
        flex-direction: column;
    }
    .Ees-Rw{
        flex-direction: row;
    }
    .Ees-top{
        position: sticky;
        top: 0;
    }
    .Ees-Fs01{
        font-size: var(--fsvar);
    }
    .Ees-Fs0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .Ees-Fs1{
        font-size: clamp(var(--fs1), 5px, var(--fs2));
    }
    .Ees-Fs2{
        font-size: clamp(var(--fs2), 5px, var(--fs3));
    }
    .Ees-Fs3{
        font-size: clamp(var(--fs3), 5px, var(--fs4));
    }
    .Ees-Fs4{
        font-size: clamp(var(--fs4), 5px, var(--fs5));
    }
    .Ees-Fs5{
        font-size: clamp(var(--fs5), 5px, var(--fs6));
    }
    .Ees-Fs6{
        font-size: clamp(var(--fs6), 5px, var(--fs7));
    }
    .Ees-Fs7{
        font-size: clamp(var(--fs7), 5px, var(--fs8));
    }
    .Ees-Fs8{
        font-size: clamp(var(--fs8), 5px, var(--fs9));
    }
    .Ees-Fs9{
        font-size: clamp(var(--fs9), 5px, var(--fs10));
    }
    .Ees-Fs10{
        font-size: clamp(var(--fs10), 5px, var(--fs11));
    }
    .Ees-Fs11{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    .Ees-Fs0-s2{
        font-size: clamp(var(--fs0), 5px, var(--fs2));
    }

    .Ees-Fs2-s4{
        font-size: clamp(var(--fs2), 5px, var(--fs4));
    }

    .Ees-Fs4-s6{
        font-size: clamp(var(--fs4), 5px, var(--fs6));
    }
    .Ees-Fs6-s8{
        font-size: clamp(var(--fs6), 5px, var(--fs8));
    }
    .Ees-Fs8-s10{
        font-size: clamp(var(--fs8), 5px, var(--fs10));
    }
    .Ees-Fs10-s12{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    
    .Ees-wrap{
        flex-wrap: wrap;
    }
    .Ees-not-wrap{
        flex-wrap: nowrap;
    }
    
    
    .Ees-Vs{
       visibility: visible;
    }
    .Ees-Vs-none{
        visibility: hidden;
    }
    .Ees-Of-Hidden{
        overflow: hidden;
    }
    .Ees-Of-Scroll{
        overflow: scroll;
    }
    .Ees-Of-Visible{
        overflow: visible;
    }
    .Ees-f-Center{
        justify-content: center;
        align-items: center;
    }
    .Ees-A-Center{
        transform: translate(-50%,-50%);
        top:-50%;
        left: -50%;
    }
    .Ees-mg-auto{
        margin:auto 0;
    }
    .Ees-gp0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .Ees-gp1{
        gap: clamp(var(--fs1), 5px, var(--fs2));
    }
    .Ees-gp2{
        gap: clamp(var(--fs2), 5px, var(--fs3));
    }
    .Ees-gp3{
        gap: clamp(var(--fs3), 5px, var(--fs4));
    }
    .Ees-gp4{
        gap: clamp(var(--fs4), 5px, var(--fs5));
    }
    .Ees-gp5{
        gap: clamp(var(--fs5), 5px, var(--fs6));
    }
    .Ees-gp6{
        gap: clamp(var(--fs6), 5px, var(--fs7));
    }
    .Ees-gp7{
        gap: clamp(var(--fs7), 5px, var(--fs8));
    }
    .Ees-gp8{
        gap: clamp(var(--fs8), 5px, var(--fs9));
    }
    .Ees-gp9{
        gap: clamp(var(--fs9), 5px, var(--fs10));
    }
    .Ees-gp10{
        gap: clamp(var(--fs10), 5px, var(--fs11));
    }
    .Ees-gp11{
        gap: clamp(var(--fs10), 5px, var(--fs12));
    }
    .Ees-ObFit-Fill{
        object-fit: fill;
    }
    .Ees-ObFit-Cover{
        object-fit: Cover;
    }
    .Ees-ObFit-Cont{
        object-fit: contain;
    }
}
/*ES*/
@media (min-width: 576px) { 
    .Es-SA{
        justify-content: space-evenly;
    }
    .Es-AC{
        align-items: center;
    }
    .Es-wrap{
        flex-wrap: wrap;
    }
    .Es-not-wrap{
        flex-wrap: nowrap;
    }

    .Es-flex{
        display: flex;
    }
    .Es-Abs{
        display:grid;
    }
    .Es-None{
        display: None;
    }
    .Es-Block{
        display:block;
    }

    .Es-Pos-Abs{
        position: absolute;
    }
    .Es-Pos-Fix{
        position: fixed;
    }
    .Es-Pos-Rel{
        position: relative;
    }
    .Es-Pos-Sti{
        position:sticky;
    }

    .Es-vh10{
        height: 100vh;
    }
    .Es-vh8{
        height: 80vh;
    }
    .Es-vh6{
        height: 60vh;
    }
    .Es-vh4{
        height: 40vh;
    }
    .Es-vh2{
        height: 20vh;
    }
    .Es-vw10{
        width: 100vw;
    }
    .Es-vw8{
        width: 80vw;
    }
    .Es-vw6{
        width: 60vw;
    }
    .Es-vw4{
        width: 40vw;
    }
    .Es-vw2{
        width: 20vw;
    }
    .Es-Cl{
        flex-direction: column;
    }
    .Es-Rw{
        flex-direction: row;
    }
    .Es-top{
        position: sticky;
        top: 0;
    }

    .Es-Fs0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .Es-Fs1{
        font-size: clamp(var(--fs1), 5px, var(--fs2));
    }
    .Es-Fs2{
        font-size: clamp(var(--fs2), 5px, var(--fs3));
    }
    .Es-Fs3{
        font-size: clamp(var(--fs3), 5px, var(--fs4));
    }
    .Es-Fs4{
        font-size: clamp(var(--fs4), 5px, var(--fs5));
    }
    .Es-Fs5{
        font-size: clamp(var(--fs5), 5px, var(--fs6));
    }
    .Es-Fs6{
        font-size: clamp(var(--fs6), 5px, var(--fs7));
    }
    .Es-Fs7{
        font-size: clamp(var(--fs7), 5px, var(--fs8));
    }
    .Es-Fs8{
        font-size: clamp(var(--fs8), 5px, var(--fs9));
    }
    .Es-Fs9{
        font-size: clamp(var(--fs9), 5px, var(--fs10));
    }
    .Es-Fs10{
        font-size: clamp(var(--fs10), 5px, var(--fs11));
    }
    .Es-Fs11{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    .Es-Fs0-s2{
        font-size: clamp(var(--fs0), 5px, var(--fs2));
    }

    .Es-Fs2-s4{
        font-size: clamp(var(--fs2), 5px, var(--fs4));
    }

    .Es-Fs4-s6{
        font-size: clamp(var(--fs4), 5px, var(--fs6));
    }
    .Es-Fs6-s8{
        font-size: clamp(var(--fs6), 5px, var(--fs8));
    }
    .Es-Fs8-s10{
        font-size: clamp(var(--fs8), 5px, var(--fs10));
    }
    .Es-Fs10-s12{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    
    .Es-wrap{
        flex-wrap: wrap;
    }
    .Es-not-wrap{
        flex-wrap: nowrap;
    }
    
    
    .Es-Vs{
       visibility: visible;
    }
    .Es-Vs-none{
        visibility: hidden;
    }
    .Es-Of-Hidden{
        overflow: hidden;
    }
    .Es-Of-Scroll{
        overflow: scroll;
    }
    .Es-Of-Visible{
        overflow: visible;
    }
    .Es-f-Center{
        justify-content: center;
        align-items: center;
    }

    .Es-A-Center{
        transform: translate(-50%,-50%);
        top:-50%;
        left: -50%;
    }
    .Es-mg-auto{
        margin: auto;
    }
    .Es-gp0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .Es-gp1{
        gap: clamp(var(--fs1), 5px, var(--fs2));
    }
    .Es-gp2{
        gap: clamp(var(--fs2), 5px, var(--fs3));
    }
    .Es-gp3{
        gap: clamp(var(--fs3), 5px, var(--fs4));
    }
    .Es-gp4{
        gap: clamp(var(--fs4), 5px, var(--fs5));
    }
    .Es-gp5{
        gap: clamp(var(--fs5), 5px, var(--fs6));
    }
    .Es-gp6{
        gap: clamp(var(--fs6), 5px, var(--fs7));
    }
    .Es-gp7{
        gap: clamp(var(--fs7), 5px, var(--fs8));
    }
    .Es-gp8{
        gap: clamp(var(--fs8), 5px, var(--fs9));
    }
    .Es-gp9{
        gap: clamp(var(--fs9), 5px, var(--fs10));
    }
    .Es-gp10{
        gap: clamp(var(--fs10), 5px, var(--fs11));
    }
    .Es-gp11{
        gap: clamp(var(--fs10), 5px, var(--fs12));
    }
    .Es-ObFit-Fill{
        object-fit: fill;
    }
    .Es-ObFit-Cover{
        object-fit: Cover;
    }
    .Es-ObFit-Cont{
        object-fit: contain;
    }
}
/*S*/
@media (min-width: 768px) { 
    .S-SA{
        justify-content: space-evenly;
    }
    .S-AC{
        align-items: center;
    }
    .S-wrap{
        flex-wrap: wrap;
    }
    .S-not-wrap{
        flex-wrap: nowrap;
    }

    .S-flex{
        display: flex;
    }
    .S-Abs{
        display:grid;
    }
    .S-None{
        display: None;
    }
    .S-Block{
        display:block;
    }

    .S-Pos-Abs{
        position: absolute;
    }
    .S-Pos-Fix{
        position: fixed;
    }
    .S-Pos-Rel{
        position: relative;
    }
    .S-Pos-Sti{
        position:sticky;
    }
    .S-vh10{
        height: 100vh;
    }
    .S-vh8{
        height: 80vh;
    }
    .S-vh6{
        height: 60vh;
    }
    .S-vh4{
        height: 40vh;
    }
    .S-vh2{
        height: 20vh;
    }
    .S-vw10{
        width: 100vw;
    }
    .S-vw8{
        width: 80vw;
    }
    .S-vw6{
        width: 60vw;
    }
    .S-vw4{
        width: 40vw;
    }
    .S-vw2{
        width: 20vw;
    }
    .S-Cl{
        flex-direction: column;
    }
    .S-Rw{
        flex-direction: row;
    }
    .S-top{
        position: sticky;
            top: 0;
    }

    .S-Fs0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .S-Fs1{
        font-size: clamp(var(--fs1), 5px, var(--fs2));
    }
    .S-Fs2{
        font-size: clamp(var(--fs2), 5px, var(--fs3));
    }
    .S-Fs3{
        font-size: clamp(var(--fs3), 5px, var(--fs4));
    }
    .S-Fs4{
        font-size: clamp(var(--fs4), 5px, var(--fs5));
    }
    .S-Fs5{
        font-size: clamp(var(--fs5), 5px, var(--fs6));
    }
    .S-Fs6{
        font-size: clamp(var(--fs6), 5px, var(--fs7));
    }
    .S-Fs7{
        font-size: clamp(var(--fs7), 5px, var(--fs8));
    }
    .S-Fs8{
        font-size: clamp(var(--fs8), 5px, var(--fs9));
    }
    .S-Fs9{
        font-size: clamp(var(--fs9), 5px, var(--fs10));
    }
    .S-Fs10{
        font-size: clamp(var(--fs10), 5px, var(--fs11));
    }
    .S-Fs11{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    .S-Fs0-s2{
        font-size: clamp(var(--fs0), 5px, var(--fs2));
    }

    .S-Fs2-s4{
        font-size: clamp(var(--fs2), 5px, var(--fs4));
    }

    .S-Fs4-s6{
        font-size: clamp(var(--fs4), 5px, var(--fs6));
    }
    .S-Fs6-s8{
        font-size: clamp(var(--fs6), 5px, var(--fs8));
    }
    .S-Fs8-s10{
        font-size: clamp(var(--fs8), 5px, var(--fs10));
    }
    .S-Fs10-s12{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    
    .S-wrap{
        flex-wrap: wrap;
    }
    .S-not-wrap{
        flex-wrap: nowrap;
    }
    
    
    .S-Vs{
       visibility: visible;
    }
    .S-Vs-none{
        visibility: hidden;
    }
    .S-Of-Hidden{
        overflow: hidden;
    }
    .S-Of-Scroll{
        overflow: scroll;
    }
    .S-Of-Visible{
        overflow: visible;
    }
    .S-f-Center{
        justify-content: center;
        align-items: center;
    }

    .S-A-Center{
        transform: translate(-50%,-50%);
        top:-50%;
        left: -50%;
    }
    .S-mg-auto{
        margin: auto;
    }
    .S-gp0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .S-gp1{
        gap: clamp(var(--fs1), 5px, var(--fs2));
    }
    .S-gp2{
        gap: clamp(var(--fs2), 5px, var(--fs3));
    }
    .S-gp3{
        gap: clamp(var(--fs3), 5px, var(--fs4));
    }
    .S-gp4{
        gap: clamp(var(--fs4), 5px, var(--fs5));
    }
    .S-gp5{
        gap: clamp(var(--fs5), 5px, var(--fs6));
    }
    .S-gp6{
        gap: clamp(var(--fs6), 5px, var(--fs7));
    }
    .S-gp7{
        gap: clamp(var(--fs7), 5px, var(--fs8));
    }
    .S-gp8{
        gap: clamp(var(--fs8), 5px, var(--fs9));
    }
    .S-gp9{
        gap: clamp(var(--fs9), 5px, var(--fs10));
    }
    .S-gp10{
        gap: clamp(var(--fs10), 5px, var(--fs11));
    }
    .S-gp11{
        gap: clamp(var(--fs10), 5px, var(--fs12));
    }


    .S-ObFit-Fill{
        object-fit: fill;
    }
    .S-ObFit-Cover{
        object-fit: Cover;
    }
    .S-ObFit-Cont{
        object-fit: contain;
    }
}

/*M*/
@media (min-width: 992px) { 
    .M-SA{
        justify-content: space-evenly;
    }
    .M-AC{
        align-items: center;
    }
    .M-wrap{
        flex-wrap: wrap;
    }
    .M-not-wrap{
        flex-wrap: nowrap;
    }

    .M-flex{
        display: flex;
    }
    .M-Abs{
        display:grid;
    }
    .M-None{
        display: None;
    }
    .M-Block{
        display:block;
    }

    .M-Pos-Abs{
        position: absolute;
    }
    .M-Pos-Fix{
        position: fixed;
    }
    .M-Pos-Rel{
        position: relative;
    }
    .M-Pos-Sti{
        position:sticky;
    }
    .M-vh10{
        height: 100vh;
    }
    .M-vh8{
        height: 80vh;
    }
    .M-vh6{
        height: 60vh;
    }
    .M-vh4{
        height: 40vh;
    }
    .M-vh2{
        height: 20vh;
    }
    .M-vw10{
        width: 100vw;
    }
    .M-vw8{
        width: 80vw;
    }
    .M-vw6{
        width: 60vw;
    }
    .M-vw4{
        width: 40vw;
    }
    .M-vw2{
        width: 20vw;
    }
    .M-Cl{
        flex-direction: column;
    }
    .M-Rw{
        flex-direction: row;
    }
    .M-top{
        position: sticky;
        top: 0;
    }
    .M-Fs01{
        font-size: var(--fs0);
    }
    .M-Fs0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .M-Fs1{
        font-size: clamp(var(--fs1), 5px, var(--fs2));
    }
    .M-Fs2{
        font-size: clamp(var(--fs2), 5px, var(--fs3));
    }
    .M-Fs3{
        font-size: clamp(var(--fs3), 5px, var(--fs4));
    }
    .M-Fs4{
        font-size: clamp(var(--fs4), 5px, var(--fs5));
    }
    .M-Fs5{
        font-size: clamp(var(--fs5), 5px, var(--fs6));
    }
    .M-Fs6{
        font-size: clamp(var(--fs6), 5px, var(--fs7));
    }
    .M-Fs7{
        font-size: clamp(var(--fs7), 5px, var(--fs8));
    }
    .M-Fs8{
        font-size: clamp(var(--fs8), 5px, var(--fs9));
    }
    .M-Fs9{
        font-size: clamp(var(--fs9), 5px, var(--fs10));
    }
    .M-Fs10{
        font-size: clamp(var(--fs10), 5px, var(--fs11));
    }
    .M-Fs11{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    .M-Fs0-s2{
        font-size: clamp(var(--fs0), 5px, var(--fs2));
    }

    .M-Fs2-s4{
        font-size: clamp(var(--fs2), 5px, var(--fs4));
    }

    .M-Fs4-s6{
        font-size: clamp(var(--fs4), 5px, var(--fs6));
    }
    .M-Fs6-s8{
        font-size: clamp(var(--fs6), 5px, var(--fs8));
    }
    .M-Fs8-s10{
        font-size: clamp(var(--fs8), 5px, var(--fs10));
    }
    .M-Fs10-s12{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    
    .M-wrap{
        flex-wrap: wrap;
    }
    .M-not-wrap{
        flex-wrap: nowrap;
    }
    
    
    .M-Vs{
       visibility: visible;
    }
    .M-Vs-none{
        visibility: hidden;
    }
    .M-Of-Hidden{
        overflow: hidden;
    }
    .M-Of-Scroll{
        overflow: scroll;
    }
    .M-Of-Visible{
        overflow: visible;
    }
    .M-f-Center{
        justify-content: center;
        align-items: center;
    }

    .M-A-Center{
        transform: translate(-50%,-50%);
        top:-50%;
        left: -50%;
    }
    .M-mg-auto{
        margin: auto;
    }
    .M-gp0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .M-gp1{
        gap: clamp(var(--fs1), 5px, var(--fs2));
    }
    .M-gp2{
        gap: clamp(var(--fs2), 5px, var(--fs3));
    }
    .M-gp3{
        gap: clamp(var(--fs3), 5px, var(--fs4));
    }
    .M-gp4{
        gap: clamp(var(--fs4), 5px, var(--fs5));
    }
    .M-gp5{
        gap: clamp(var(--fs5), 5px, var(--fs6));
    }
    .M-gp6{
        gap: clamp(var(--fs6), 5px, var(--fs7));
    }
    .M-gp7{
        gap: clamp(var(--fs7), 5px, var(--fs8));
    }
    .M-gp8{
        gap: clamp(var(--fs8), 5px, var(--fs9));
    }
    .M-gp9{
        gap: clamp(var(--fs9), 5px, var(--fs10));
    }
    .M-gp10{
        gap: clamp(var(--fs10), 5px, var(--fs11));
    }
    .M-gp11{
        gap: clamp(var(--fs10), 5px, var(--fs12));
    }
    .M-ObFit-Fill{
        object-fit: fill;
    }
    .M-ObFit-Cover{
        object-fit: Cover;
    }
    .M-ObFit-Cont{
        object-fit: contain;
    }
}

/*L*/
@media (min-width: 1200px) {
    .L-wrap{
        flex-wrap: wrap;
    }
    .L-not-wrap{
        flex-wrap: nowrap;
    }

    .L-flex{
        display: flex;
    }
    .L-Abs{
        display:grid;
    }
    .L-None{
        display: None;
    }
    .L-Block{
        display:block;
    }

    .L-Pos-Abs{
        position: absolute;
    }
    .L-Pos-Fix{
        position: fixed;
    }
    .L-Pos-Rel{
        position: relative;
    }
    .L-Pos-Sti{
        position:sticky;
    }
    .L-vh10{
        height: 100vh;
    }
    .L-vh8{
        height: 80vh;
    }
    .L-vh6{
        height: 60vh;
    }
    .L-vh4{
        height: 40vh;
    }
    .L-vh2{
        height: 60vh;
    }
    .L-vw10{
        width: 100vw;
    }
    .L-vw8{
        width: 80vw;
    }
    .L-vw6{
        width: 60vw;
    }
    .L-vw4{
        width: 40vw;
    }
    .L-vw2{
        width: 20vw;
    }
    .L-Cl{
        flex-direction: column;
    }
    .L-Rw{
        flex-direction: row;
    }
    
    .L-top{
        position: sticky;
        top: 0;
    }

    .L-Fs0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .L-Fs1{
        font-size: clamp(var(--fs1), 5px, var(--fs2));
    }
    .L-Fs2{
        font-size: clamp(var(--fs2), 5px, var(--fs3));
    }
    .L-Fs3{
        font-size: clamp(var(--fs3), 5px, var(--fs4));
    }
    .L-Fs4{
        font-size: clamp(var(--fs4), 5px, var(--fs5));
    }
    .L-Fs5{
        font-size: clamp(var(--fs5), 5px, var(--fs6));
    }
    .L-Fs6{
        font-size: clamp(var(--fs6), 5px, var(--fs7));
    }
    .L-Fs7{
        font-size: clamp(var(--fs7), 5px, var(--fs8));
    }
    .L-Fs8{
        font-size: clamp(var(--fs8), 5px, var(--fs9));
    }
    .L-Fs9{
        font-size: clamp(var(--fs9), 5px, var(--fs10));
    }
    .L-Fs10{
        font-size: clamp(var(--fs10), 5px, var(--fs11));
    }
    .L-Fs11{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    .L-Fs0-s2{
        font-size: clamp(var(--fs0), 5px, var(--fs2));
    }

    .L-Fs2-s4{
        font-size: clamp(var(--fs2), 5px, var(--fs4));
    }

    .L-Fs4-s6{
        font-size: clamp(var(--fs4), 5px, var(--fs6));
    }
    .L-Fs6-s8{
        font-size: clamp(var(--fs6), 5px, var(--fs8));
    }
    .L-Fs8-s10{
        font-size: clamp(var(--fs8), 5px, var(--fs10));
    }
    .L-Fs10-s12{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    
    .L-wrap{
        flex-wrap: wrap;
    }
    .L-not-wrap{
        flex-wrap: nowrap;
    }
    
    
    .L-Vs{
       visibility: visible;
    }
    .L-Vs-none{
        visibility: hidden;
    }
    .L-Of-Hidden{
        overflow: hidden;
    }
    .L-Of-Scroll{
        overflow: scroll;
    }
    .L-Of-Visible{
        overflow: visible;
    }
    .L-f-Center{
        justify-content: center;
        align-items: center;
    }

    .L-A-Center{
        transform: translate(-50%,-50%);
        top:-50%;
        left: -50%;
    }
    .L-mg-auto{
        margin: auto;
    }
    .L-gp0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .L-gp1{
        gap: clamp(var(--fs1), 5px, var(--fs2));
    }
    .L-gp2{
        gap: clamp(var(--fs2), 5px, var(--fs3));
    }
    .L-gp3{
        gap: clamp(var(--fs3), 5px, var(--fs4));
    }
    .L-gp4{
        gap: clamp(var(--fs4), 5px, var(--fs5));
    }
    .L-gp5{
        gap: clamp(var(--fs5), 5px, var(--fs6));
    }
    .L-gp6{
        gap: clamp(var(--fs6), 5px, var(--fs7));
    }
    .L-gp7{
        gap: clamp(var(--fs7), 5px, var(--fs8));
    }
    .L-gp8{
        gap: clamp(var(--fs8), 5px, var(--fs9));
    }
    .L-gp9{
        gap: clamp(var(--fs9), 5px, var(--fs10));
    }
    .L-gp10{
        gap: clamp(var(--fs10), 5px, var(--fs11));
    }
    .L-gp11{
        gap: clamp(var(--fs10), 5px, var(--fs12));
    }
    .L-ObFit-Fill{
        object-fit: fill;
    }
    .L-ObFit-Cover{
        object-fit: Cover;
    }
    .L-ObFit-Cont{
        object-fit: contain;
    }
}

/*EL*/
@media (min-width: 1400px) {
    .El-flex{
        display: flex;
    }
    .El-Abs{
        display:grid;
    }
    .El-None{
        display: None;
    }
    .El-Block{
        display:block;
    }

    .El-Pos-Abs{
        position: absolute;
    }
    .El-Pos-Fix{
        position: fixed;
    }
    .El-Pos-Rel{
        position: relative;
    }
    .El-Pos-Sti{
        position:sticky;
    }
    .El-vh10{
        height: 100vh;
    }
    .El-vh8{
        height: 80vh;
    }
    .El-vh6{
        height: 60vh;
    }
    .El-vh4{
        height: 40vh;
    }
    .El-vh2{
        height: 20vh;
    }
    .El-vw10{
        width: 100vw;
    }
    .El-vw8{
        width: 80vw;
    }
    .El-vw6{
        width: 60vw;
    }
    .El-vw4{
        width: 40vw;
    }
    .El-vw2{
        width: 20vw;
    }

    .El-Cl{
        flex-direction: column;
    }
    .El-Rw{
        flex-direction: row;
    }
    .El-top{
        position: sticky;
        top: 0;
    }
    .El-Fs0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .El-Fs1{
        font-size: clamp(var(--fs1), 5px, var(--fs2));
    }
    .El-Fs2{
        font-size: clamp(var(--fs2), 5px, var(--fs3));
    }
    .El-Fs3{
        font-size: clamp(var(--fs3), 5px, var(--fs4));
    }
    .El-Fs4{
        font-size: clamp(var(--fs4), 5px, var(--fs5));
    }
    .El-Fs5{
        font-size: clamp(var(--fs5), 5px, var(--fs6));
    }
    .El-Fs6{
        font-size: clamp(var(--fs6), 5px, var(--fs7));
    }
    .El-Fs7{
        font-size: clamp(var(--fs7), 5px, var(--fs8));
    }
    .El-Fs8{
        font-size: clamp(var(--fs8), 5px, var(--fs9));
    }
    .El-Fs9{
        font-size: clamp(var(--fs9), 5px, var(--fs10));
    }
    .El-Fs10{
        font-size: clamp(var(--fs10), 5px, var(--fs11));
    }
    .Es-Fs11{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }
    .El-Fs0-s2{
        font-size: clamp(var(--fs0), 5px, var(--fs2));
    }

    .El-Fs2-s4{
        font-size: clamp(var(--fs2), 5px, var(--fs4));
    }

    .El-Fs4-s6{
        font-size: clamp(var(--fs4), 5px, var(--fs6));
    }
    .El-Fs6-s8{
        font-size: clamp(var(--fs6), 5px, var(--fs8));
    }
    .El-Fs8-s10{
        font-size: clamp(var(--fs8), 5px, var(--fs10));
    }
    .El-Fs10-s12{
        font-size: clamp(var(--fs10), 5px, var(--fs12));
    }



    .El-wrap{
        flex-wrap: wrap;
    }
    .El-not-wrap{
        flex-wrap: nowrap;
    }
    
    
    .El-Vs{
       visibility: visible;
    }
    .El-Vs-none{
        visibility: hidden;
    }
    .El-Of-Hidden{
        overflow: hidden;
    }
    .El-Of-Scroll{
        overflow: scroll;
    }
    .El-Of-Visible{
        overflow: visible;
    }
    .El-f-Center{
        justify-content: center;
        align-items: center;
    }

    .El-A-Center{
        transform: translate(-50%,-50%);
        top:-50%;
        left: -50%;
    }
    .EL-mg-auto{
        margin: auto;
    }
    .El-gp0{
        font-size: clamp(var(--fs0), 5px, var(--fs1));
    }
    .El-gp1{
        gap: clamp(var(--fs1), 5px, var(--fs2));
    }
    .El-gp2{
        gap: clamp(var(--fs2), 5px, var(--fs3));
    }
    .El-gp3{
        gap: clamp(var(--fs3), 5px, var(--fs4));
    }
    .El-gp4{
        gap: clamp(var(--fs4), 5px, var(--fs5));
    }
    .El-gp5{
        gap: clamp(var(--fs5), 5px, var(--fs6));
    }
    .El-gp6{
        gap: clamp(var(--fs6), 5px, var(--fs7));
    }
    .El-gp7{
        gap: clamp(var(--fs7), 5px, var(--fs8));
    }
    .El-gp8{
        gap: clamp(var(--fs8), 5px, var(--fs9));
    }
    .El-gp9{
        gap: clamp(var(--fs9), 5px, var(--fs10));
    }
    .El-gp10{
        gap: clamp(var(--fs10), 5px, var(--fs11));
    }
    .El-gp11{
        gap: clamp(var(--fs10), 5px, var(--fs12));
    }
    .El-ObFit-Fill{
        object-fit: fill;
    }
    .El-ObFit-Cover{
        object-fit: Cover;
    }
    .El-ObFit-Cont{
        object-fit: contain;
    }
}
